<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header container">
    <img class="navbar-image" src='http://wisebytes.net/illusions/hermanswhite.gif'>
    wafflepress
  </div>

    </form> 
    <ul class="nav navbar-nav navbar-right">
      <div><a href="#/users/{{ user.profile.uid }}">{{displayName}}</a></div>
      <!-- <li>
        <a href="#/login" ng-click="logout()">Logout</a>
       --></li>
      <!-- <li ng-if="!loggedIn">
        <a href="#/login">Login</a>
      </li>
      <li ng-if="!loggedIn">
        <a href="#/signup">Register</a>
      </li> -->
      <div class="col-lg-4 add-plus stamped">
        <div class="plus-symbol" ng-click="makePost()">+</div> 
      </div>
    </ul>

  </div>
  <!-- /.navbar-collapse -->
</nav>
