<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand waffleLogo" href="#/dashboard"><img align='left' src='http://www.wpclipart.com/food/breakfast/waffle/waffle_round_small.png' width="40" height="40"><a class="navbar-brand waffleName">WafflePress</a></a>
  </div>

<!--     <form class="navbar-form navbar-left" ng-if="loggedIn">
    </form> -->
    <ul class="nav navbar-nav navbar-right">
      <div ng-if="loggedIn"><a href="#/users/{{ user.profile.uid }}">{{displayName}}</a></div>
      <li ng-if="loggedIn">
        <a href="#/login" ng-click="logout()">Logout</a>
      </li>
      <li ng-if="!loggedIn">
        <a href="#/login">Login</a>
      </li>
      <li ng-if="!loggedIn">
        <a href="#/signup">Register</a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
