<style type="text/css">
textarea {
  border: none;
}
textarea:focus {
  outline: none;
}
</style>
<div class="container" ng-init="checkSession()">
  <div class="row">
      <!-- <ol class="breadcrumb">
        <li><a href="#/dashboard">Back to Dashboard</a>
        </li>
        <li class="active">Edit</li>
      </ol> -->

    <form role="form" align="center" ng-controller="EditController">
      <div class="editing-tools">

      <input ng-if="!isUpdate" class="btn pressBtn" ng-click="submit(title, content, created)" value="Add Post" type="submit" />
        
        <form class='half-form'>
          <input type="submit" ng-model="files" ng-file-select="onFileSelect(files)" ng-multiple="true" class="btn pressBtn" value="Upload Photo"/>
          
        </form>
      </div>

          <div ng-show="imageNamesToDisplay" ng-repeat="imageNameToDisplay in imageNamesToDisplay">
            <img class="post-thumbnail" src="{{imageNameToDisplay}}"/>
          </div>


      <div class="form-group">
        <textarea ng-model="title" class="title" placeholder='"My Waffle Post"'></textarea>
      </div>
      
      <div class="form-group">
        <textarea ng-model="content" class="content" placeholder='Write tasty thoughts here..'></textarea>
      </div>
      
      <!-- <input ng-if="!isUpdate" class="btn btn-blue pressBtn" ng-click="submit(title, content, created)" value="Press New" type="submit" /> -->
      <input ng-if="isUpdate" class="btn btnn-green pressBtn" ng-click="updatePost(title, content)" value="Update" type="submit" />
    </form>
  </div>
</div>

<script type="text/javascript">
function noenter() {
  return !(window.event && window.event.keyCode == 13);
}
</script>
