
<div class="container">
  <div class="row"  ng-init="getAllPosts()" ng-model="posts"  >
      <!--LIST OF USER POSTS -->
    <div packery class="col-lg-4 thumb" ng-repeat="post in posts | orderBy:-'post.position'" >
      <section tabindex={{$index}}> <!-- for tracking position -->
        <h1><a ng-click="savePostInfo()" href="#/post">{{post.title}}</a></h1>
        <div ng-show="post.imageUrl" ng-repeat="image in post.imageUrl">
          <img class="post-image" src="{{image}}"/>
        </div>
        <p class="snippet" ng-bind-html="post.markedContent"></p>
        <span class="thumb-button edit-button glyphicon glyphicon-pencil" ng-if="loggedIn" href="#/edit" ng-click="savePostInfo()"></span>
        <span ng-if="loggedIn" href='#/dashboard' class="thumb-button delete-button glyphicon glyphicon-trash" ng-click="deletePost()"></span>
      </section>
    </div>
     
    <div class="col-lg-4 thumb add-plus stamped">
      <div class="plus-symbol" ng-click="makePost()">+</div> 
    </div>
  </div>
</div>


